{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}





<div class="home-container">
    <h1 class="title">Welcome to Smart Home Security System</h1>
    <div class="row">
        <div class="column left">       
            {% if is_admin %}
            <div class="admin-controls">
                <form method="get" action="/" id="house-select-form">
                    <label for="house_name" class="control-label">Select House:</label>
                    <select  name="house_name" id="house_name" class="select-house" onchange="selectHouse()">
                        <option value="" disabled selected>Select a house</option>
                        {% for house in houses %}
                            <option value="{{ house }}" {% if house == selected_house %}selected{% endif %}>{{ house }}</option>
                        {% endfor %}
                    </select>
                </form>
                
                <form class="margin_topd" method="post" action="/add_house">
                    <label for="new_house_name" class="control-label">Add New House:</label>
                    <input class="inpout_house" type="text" name="house_name" id="new_house_name" placeholder="Enter house name" required>
                    <button type="submit" class="btn btn-primary">Add House</button>
                </form>
            </div>
    
    
            <div class="house-list">
                <h2 class="title_table" >House List</h2>
                <ul class="house-list-ul">
                    {% for house in houses %}
                        <li class="house-list-item">
                            <span class="house-name" onclick="displayHouse('{{ house }}')" style="cursor:pointer;">{{ house }}</span>
                            <form method="post" action="/delete_house/{{ house }}" class="inline-form" onsubmit="return deleteHouse(event, '{{ house }}')">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="column right">
            <iframe class="geoe" src="https://lookerstudio.google.com/embed/reporting/2352844e-2c44-4e32-91c4-26b8c44398bd/page/tEnnC" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>

        </div>


    </div>


        
    {% endif %}

    <div class="house-data">
        {% if measurements %}
            <h2 class="data-title">Data for {{ selected_house }}</h2>
            
            <div class="info-cards">
                <div class="card" id="number-detection-card">
                    <div class="card-body">
                        <h5 class="card-title">Number of Detections</h5>
                        <p class="card-text" id="number-detection-value">{{ measurements[-1].number_detection }}</p>
                    </div>
                </div>
                <div class="card" id="alarm-status-card">
                    <div class="card-body">
                        <h5 class="card-title">Alarm Status</h5>
                        <p class="card-text" id="alarm-status-value">{{ 'Active' if measurements[-1].alarm_status else 'Inactive' }}</p>
                    </div>
                </div>
                <div class="alarm-controls">
                    <button id="startAlarmButton"  class="btn btn-danger statts">Start Alarm</button>
                    <button id="stopAlarmButton" class="btn btn-success">Stop Alarm</button>
                </div>
                <div class="limit-temp-hum">
                    <div class="limit-field">
                        <label for="set_max_temp" class="temp-max control-label "  >Set max temperature limit:</label>
                        <input class="inpout_house" type="number" name="max_temp" id="set_max_temp" required>
                    </div>
                    <div class="limit-field">
                        <label for="set_min_temp" class="temp-min control-label">Set min temperature limit:</label>
                        <input class="inpout_house" type="number" name="min_temp" id="set_min_temp" required>
                    </div>
                    <div class="limit-field">
                        <label for="set_max_hum" class="hum-max control-label">Set max humidity limit:</label>
                        <input class="inpout_house" type="number" name="max_hum" id="set_max_hum" required>
                    </div>
                    <div class="limit-field">
                        <label for="set_min_hum" class="hum-min control-label">Set min humidity limit:</label>
                        <input class="inpout_house"  type="number" name="min_hum" id="set_min_hum" required>
                    </div>
                    <button id="limitButton" class="btn btn-primary" >Change the limits</button>
                </div>
            </div>

            <button id="refreshButton" class="btn btn-secondary">Refresh</button>

            <div class="table-container">
                <table class="data-table" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Temperature</th>
                            <th>Humidity</th>
                            <th>Alarm Status</th>
                            <th>Number Detection</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody id="dataBody">
                        {% for measurement in measurements %}
                            <tr class="data-table-row">
                                <td>{{ measurement.id }}</td>
                                <td>{{ measurement.temperature }}</td>
                                <td>{{ measurement.humidity }}</td>
                                <td>{{ 'Active' if measurement.alarm_status else 'Inactive' }}</td>
                                <td>{{ measurement.number_detection }}</td>
                                <td>{{ measurement.longitude }}</td>
                                <td>{{ measurement.latitude }}</td>
                                <td>{{ measurement.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            
            <h1 class="data-title">Temperature and Humidity Over Time</h1>
            <div id="chart"></div>
        {% else %}
            <p class="no-data">No data available for the selected house.</p>
        {% endif %}
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.3.7/mqtt.min.js"></script>
<script>
    function selectHouse() {
        document.getElementById('house-select-form').submit();
    }

    function displayHouse(house_name) {
        window.location.href = `/display_house/${house_name}`;
    }

    function deleteHouse(event, house_name) {
        event.preventDefault();
        if (confirm('Are you sure you want to delete this house?')) {
            fetch(`/delete_house/${house_name}`, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Failed to delete house.');
                }
            });
        }
    }

    async function fetchMeasurements(houseName) {
        const response = await fetch(`/measurements/${houseName}`);
        console.log(response)
        const data = await response.json();
        console.log(data)
        return data;
    }

    async function fetchLatestMeasurements(houseName) {
        const response = await fetch(`/latest_measurements/${houseName}`);
        const data = await response.json();
        return data;
    }

    function updateCards(latestMeasurement) {
        const numberDetectionValue = document.getElementById('number-detection-value');
        const alarmStatusValue = document.getElementById('alarm-status-value');

        numberDetectionValue.textContent = latestMeasurement.number_detection;
        alarmStatusValue.textContent = latestMeasurement.alarm_status ? 'Active' : 'Inactive';
    }

    function updateAlarmStatusCardBackground(alarmStatus) {
        const alarmStatusCard = document.getElementById('alarm-status-card');
        alarmStatusCard.style.backgroundColor = alarmStatus ? '#54f35c' : '#ff5a69';
    }

    function updateTable(measurements) {
        const dataBody = document.getElementById('dataBody');
        dataBody.innerHTML = '';
        measurements.forEach(measurement => {
            const row = dataBody.insertRow();
            row.insertCell(0).innerText = measurement.id;
            row.insertCell(1).innerText = measurement.temperature;
            row.insertCell(2).innerText = measurement.humidity;
            row.insertCell(3).innerText = measurement.alarm_status ? 'Active' : 'Inactive';
            row.insertCell(4).innerText = measurement.number_detection;
            row.insertCell(5).innerText = measurement.longitude;
            row.insertCell(6).innerText = measurement.latitude;
            row.insertCell(7).innerText = measurement.time;
        });
    }

    async function renderChart() {
        const houseName = document.getElementById('house_name')?.value || "{{ selected_house }}";
        if (!houseName) return;
        const measurements = await fetchMeasurements(houseName);
        
        if (measurements.error) {
            console.error(measurements.error);
            return;
        }

        const labels = measurements.map(m => new Date(m.time));
        const temperatures = measurements.map(m => m.temperature);
        const humidities = measurements.map(m => m.humidity);

        const data = [
    {
        x: labels,
        y: temperatures,
        type: 'scatter',
        mode: 'lines+markers',
        name: 'Temperature',
        line: { color: 'rgb(255, 99, 132)' },
        marker: { size: 12, color: '#910a0a' } // Change marker size and color
    },
    {
        x: labels,
        y: humidities,
        type: 'scatter',
        mode: 'lines+markers',
        name: 'Humidity',
        line: { color: 'rgb(54, 162, 235)' },
        marker: { size: 12, color: '#20027a' } // Change marker size and color
    }
];

const layout = {
    title: {
        text: 'Temperature and Humidity Over Time',
        font: { size: 24, color: 'white' } // Change title size and color
    },
    xaxis: {
        title: 'Time',
        type: 'date',
        titlefont: { size: 20, color: 'black' } // Change x-axis title size and color
    },
    yaxis: {
        title: 'Value',
        titlefont: { size: 20, color: 'black' } // Change y-axis title size and color
    },
    plot_bgcolor: '#bfc8d2', // Change plot background color
    paper_bgcolor: '	#8692a0' // Change paper background color
};

Plotly.newPlot('chart', data, layout);

    }

    document.addEventListener('DOMContentLoaded', async () => {
        renderChart();

        const houseName = document.getElementById('house_name')?.value || "{{ selected_house }}";
        if (!houseName) return;

        // Fetch latest measurements upon page load
        const latestMeasurement = await fetchLatestMeasurements(houseName);
        updateCards(latestMeasurement);
        
        // Update the alarm status card background color upon page load
        updateAlarmStatusCardBackground(latestMeasurement.alarm_status);

        // Add event listener for refresh button
        const refreshButton = document.getElementById('refreshButton');
        refreshButton.addEventListener('click', async () => {
            const updatedMeasurement = await fetchLatestMeasurements(houseName);
            updateCards(updatedMeasurement);
            updateTable(await fetchMeasurements(houseName));
            updateAlarmStatusCardBackground(updatedMeasurement.alarm_status);
        });
    });

    document.getElementById('startAlarmButton').addEventListener('click', function() {
        fetch('/start_alarm/{{ selected_house }}', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    //alert('Alarm started successfully');
                    updateAlarmStatusCardBackground(true);
                    document.getElementById('alarm-status-value').textContent = 'Active';
                } else {
                    alert('Failed to start alarm');
                }
            });
    });

    document.getElementById('stopAlarmButton').addEventListener('click', function() {
        fetch('/stop_alarm/{{ selected_house }}', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    //alert('Alarm stopped successfully');
                    updateAlarmStatusCardBackground(false);
                    document.getElementById('alarm-status-value').textContent = 'Inactive';
                } else {
                    alert('Failed to stop alarm');
                }
            });
    });

    document.getElementById('limitButton').addEventListener('click', function() {
    const maxTemp = document.getElementById('set_max_temp').value;
    const minTemp = document.getElementById('set_min_temp').value;
    const maxHum = document.getElementById('set_max_hum').value;
    const minHum = document.getElementById('set_min_hum').value;
    const houseName = document.getElementById('house_name')?.value || "{{ selected_house }}";

    // Controllo se tutti i campi sono riempiti
    if (!maxTemp || !minTemp || !maxHum || !minHum) {
        alert('Please, fill all the limit fields to send them.');
        return;
    }

    fetch('/set_limits', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            house_name: houseName,
            max_temp: maxTemp,
            min_temp: minTemp,
            max_hum: maxHum,
            min_hum: minHum
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Limits set successfully');
        } else {
            alert('Failed to set limits');
        }
    });
});

/*

// Connessione al broker MQTT
const client = mqtt.connect('wss://35.192.204.119:1883');

// Event listener per la connessione
client.on('connect', function () {
    console.log('Connected to MQTT broker');
    client.subscribe('data/limit/Bolzano'); // Sostituisci con il topic corretto
});

// Event listener per i messaggi
client.on('message', function (topic, message) {
    // Converte il messaggio da Buffer a stringa e poi a JSON
    const data = JSON.parse(message.toString());

    // Aggiorna l'interfaccia utente con i dati ricevuti
    document.getElementById('current_max_temp').innerText = data.limitTemperatureHigh;
    document.getElementById('current_min_temp').innerText = data.limitTemperatureLow;
    document.getElementById('current_max_hum').innerText = data.limitHumidityHigh;
    document.getElementById('current_min_hum').innerText = data.limitHumidityLow;
});

// Event listener per errori
client.on('error', function (error) {
    console.error('MQTT Error:', error);
});

*/

</script>
{% endblock %}
