{% extends 'base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">

<p>Home</p>

<p>Home</p>
<div>
    <label for="select-house">Select a House:</label>
    <select id="select-house" name="house" onchange="location = this.value;">
        <option value="" selected disabled>Choose a house...</option>
        {% for house in houses %}
        <option value="{{ url_for('display_house', house_name=house) }}">{{ house }}</option>
        {% endfor %}
    </select>
</div>


<div>
<table>
    <tr>
        <th>Time</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Motion Detection</th>
        <th>Longitude</th>
        <th>Latitude</th>
    </tr>
    {% for row in measurements %}
    <tr>
        <td>{{ row.time }}</td>
        <td>{{ row.temperature }}</td>
        <td>{{ row.humidity }}</td>
        <td>{{ row.motionDetection }}</td>
        <td>{{ row.longitude }}</td>
        <td>{{ row.latitude }}</td>
    </tr>
    {% endfor %}
</table>

</div>

<h1>Welcome to Smart Home Security System</h1>
<a href="{{ url_for('list_houses') }}">Manage Houses</a>


{% endblock %}
