{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="home-container">
    <header class="header-contact" >
        <h1 class="title-contact" >Login</h1>
    </header>

    <form class="bbbb" method="POST" action="{{ url_for('login') }}">
        <input class="input-contact www" type="text" name="username" placeholder="Username" required>
        <input class="input-contact www"  type="password" name="password" placeholder="Password" required>
        <button  class="btn-contact"  type="submit">Login</button>
    </form>
    



</div>
{% endblock %}
